@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --primary_color: hsl(235, 21%, 11%);
    --secondary_color: #fff;
    --input_color: #fff;
}

.dark_theme{
    --primary_color: #fff;
    --secondary_color: hsl(235, 21%, 11%); 
    --input_color: hsl(235, 24%, 19%);
}

body{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary_color);
   
}

.banner-con{
    width: 100%;
    height: 60vh;
}
.banner{
    width: 100%;
    height: 100%;
    background: url("/images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 40vh;
}
.content h1{
    letter-spacing: 3px;
    color: #fff
}
.content img{
    height: 34px;
    cursor: pointer;
}
.todo{
    width: 600px;
    max-height: 498px;
}
    
    
 /*.list{
  box-shadow: 8px 8px 10px 10px hsl(237, 14%, 26%); 
 }    CHECCCCCLKKKKKKKK*/


form{
    width: 100%;
    height: 83px;
    
}
form input{
    width: 100%;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 2rem;
    background: var(--input_color);
    font-size: 16px;
    color: var(--primary_color);
    letter-spacing: 1px;
    outline: none;
    border: none;
}
input::placeholder{
    color: var(--primary_color);
    letter-spacing: 2px;
}
.list{
    width: 100%;
    max-height: 330px;
    margin-top: 2rem
}
.todo-con{
    width: 100%;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    
}
.todo-li{
    display: flex;
    background: var(--input_color);
    padding: 1rem 0.9rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-style: italic;
    font-size: 18px;
    align-items: center;
    
}
.todo-li p{
    width: 92%;
    color: var(--primary_color);
    text-decoration: none;
}
.todo-li .check{
    width: 20px;
    height: 20px;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 1rem;
    cursor: pointer;
}
.todo-li .check img{
    transform: scale(0);
    transition: all 0.3s ease;
}
.todo-li .close{
    background: transparent;
    border: none;
    outline: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
}
.todo-li:hover .close{
    opacity: 1;
}
.hr{
    width: 100%;
    background: hsl(233, 14%, 35%);
    height: 0.9px;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: hsl(234, 11%, 52%);
    padding: 1rem 0.9rem;
    background: var(--input_color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    
}
.choice{
    display: flex;
}
.choice p{
    padding:  0 5px;
}
.info p:hover{
 color: hsl(220, 98%, 61%);
}
.active{
    color: hsl(220, 98%, 61%);
}
.active-check{
    background: linear-gradient( hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}
.active-check img{
    transform: scale(1) !important;
}
.complete{
    text-decoration: line-through;
    opacity: 0.5;
}



/* Responsive CSS for 400px width */

@media screen and (max-width: 400px) {
    .banner-con {
      height: 30vh;
    }
  
    .content {
      margin-top: 20vh;
    }
  
    .content h1 {
      font-size: 16px;
    }
  
    form input {
      padding: 10px 10px;
      font-size: 14px;
    }
  
    .list {
      max-height: 250px;
    }
  
    .todo-li {
      padding: 0.8rem 0.9rem;
      font-size: 14px;
    }
  
    .hr {
      height: 0.7px;
    }
  
    .info {
      padding: 0.8rem 0.9rem;
      font-size: 12px;
    }
  }
  
  