@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


:root{
 --Bright_Blue: hsl(220, 98%, 61%);
--Check_Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

/*Light Theme*/

--Very_Light_Gray: hsl(0, 0%, 98%);
--Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
--Light_Grayish_Blue: hsl(233, 11%, 84%);
--Dark_Grayish_Blue: hsl(236, 9%, 61%);
--Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);

/*Dark Theme*/

--Very_Dark_Blue: hsl(235, 21%, 11%);
--Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
--Light_Grayish_Blue: hsl(234, 39%, 85%);
--Light_Grayish_Blue_hover: hsl(236, 33%, 92%);
--Dark_Grayish_Blue: hsl(234, 11%, 52%);
--Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
--Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);
}


*{
  font-family: 'Josefin Sans', sans-serif;;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

position: relative;
































.attribution {
  position: absolute; 
  bottom: 10px; 
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.attribution a{
 color: black;
 text-decoration: none;
 font-style: italic;
 font-weight: bold;
}
.attribution a:hover{
  color: blue;
}